* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: rgb(26, 26, 58);
}

#contact-Me {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

pre {
  font-size: 30px;
  margin-left: 10px;
}

.contactMe {
  color: aqua;
}

.conatiner3 {
  height: 500px;
  width: 900px;
  margin-top: 0px;
  margin-left: 250px;
}

.information-container {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 50px 50px;
  gap: 40px;
}

label {
  position: relative;
  top: 10px;
  left: 80px;
  font-size: 20px;
}

.name {
  height: 50px;
  width: 350px;
  font-size: 15px;
  color: black;
  border-radius: 10px;
  background-color: rgb(59, 59, 114);
  border: 2px solid rgb(26, 26, 58);
  position: relative;
  top: 10px;
  bottom: 10px;
}

.messageBox {
  height: 280px;
  width: 740px;
  position: relative;
  top: 50px;
  left: 80px;
}

#MessageLabel {
  position: relative;
  left: 0;
}

.message {
  height: 280px;
  width: 740px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(59, 59, 114);
  border: 2px solid rgb(26, 26, 58);
  position: absolute;
  top: 30px;
  left: 0px;
}
