* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  position: relative;
  background-color: rgb(26, 26, 58);
}

.our-service {
  width: 300px;
  position: absolute;
  top: 50px;
  left: 600px;
  font-size: 40px;
  margin-right: 10px;
}

.OurService {
  color: aqua;
}

.service-container {
  height: 450px;
  width: 1365px;
  background-color: transparent;
  position: relative;
  top: 100px;
}

.container-for-service {
  height: 450px;
  width: 1365px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

.Ux-designer {
  height: 400px;
  width: 400px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

i {
  font-size: 35px;
  color: aqua;
}

.brush {
  position: absolute;
  top: 70px;
}

.Ux-UI {
  height: 20px;
  font-size: 30px;
  position: absolute;
  top: 130px;
}

.aboutUx {
  height: 400px;
  width: 400px;
}

#about-UX {
  font-size: 20px;
  height: 300px;
  width: 200px;
  position: absolute;
  top: 200px;
  left: 0;
}

.readMore {
  height: 40px;
  width: 100px;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  border: 2px solid aqua;
  background-color: aqua;
  box-shadow: 0px 0px 10px aqua;
  position: absolute;
  top: 350px;
  display: flex;
  align-items: center;
}

.readMore:hover {
  scale: 1.1;
}

.Wev-devloper {
  height: 400px;
  width: 400px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.code {
  position: absolute;
  top: 70px;
}

.Development {
  height: 20px;
  font-size: 30px;
  position: absolute;
  top: 130px;
}

.WebDevelopment {
  height: 400px;
  width: 400px;
  position: absolute;
  left: 430px;
}

#Web-Development {
  font-size: 20px;
  height: 300px;
  width: 200px;
  position: absolute;
  top: 180px;
}

.ethicalHacker {
  height: 400px;
  width: 400px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.hacking-icon {
  position: absolute;
  top: 70px;
}

.hack {
  height: 20px;
  font-size: 30px;
  position: absolute;
  top: 130px;
}

.EthicalHacking {
  height: 400px;
  width: 400px;
  /* position: relative; */
}

#Ethical-Hacking {
  font-size: 20px;
  height: 300px;
  width: 200px;
  position: absolute;
  top: 200px;
  left: 860px;
}
